* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    /* background-color: rgb(37, 36, 36); */
}

.wrapper {
    margin: 30px 20% 40px;
}

.wrapper-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(156, 90, 218);
    transition: all 2s ease-in-out;
    margin: 24px 0 40px 0;
    min-height: 40px;
}

.wrapper-sub-title {
    letter-spacing: 1.8px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 800;
    color: rgb(19, 89, 155);
}

.descp-text {
    letter-spacing: 1px;
    line-height: 1.4em;
    text-align: justify;
}

.descp-text a {
    font-weight: bolder;
    color: rgb(65, 65, 175);
}

.booking-image {
    margin: 30px 0;
    height: 600px;
    width: 100%;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;
    display: block;
}
caption{
    text-align: center;
}

.booking-caption {
    display: block;
    text-align: center;
}

footer {
    margin: 30px 20% 40px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: rgb(131, 133, 134);
    color: rgb(29 21 152);
    text-align: center;
    min-height: 50px;
    font-size: 18px;
}